.navbar {
    position: relative;
}
.navbar-tx {
    background-color: #ffffff;
}




@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }









}


































